<div class="s-modal-container">
  <div class="s-modal-content">
    <div class="s-modal-heading">
      {{DATA['name']}}
      <div class="s-close" (click)="closeModal(null)">
        <ion-icon name="close-circle" color="danger"></ion-icon>
      </div>
    </div>
    <div class="s-modal-body">
      <form #editQtyForm="ngForm" (submit)="closeModal(currentQty)">
        <ion-item>
          <ion-label floating>QTY</ion-label>
          <ion-input type="tel" name="qty" minlength="1" maxlength="3" pattern="[0-9]+" [(ngModel)]="currentQty" #qty="ngModel"
          autofocus required></ion-input>
        </ion-item>
        <div class="s-errors" *ngIf="qty.invalid && (qty.dirty || qty.touched)">
          <div *ngIf="qty.errors['pattern']">
            QTY is invalid.
          </div>
          <div *ngIf="qty.errors['required']">
            QTY is required
          </div>
        </div>
        <div text-right>
          <button ion-button type="submit" [disabled]="editQtyForm.invalid">
            Done
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
