<ion-header>
  <ion-navbar>
    <ion-title>
      CALCULATOR APP
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <div margin-bottom text-right>
    <ion-item>
      <ion-label>List:</ion-label>
      <ion-toggle [(ngModel)]="toogleShifts"></ion-toggle>
    </ion-item>
  </div>

  <div *ngIf="toogleShifts" margin-horizontal>
    <ion-segment [(ngModel)]="CURRUNT_SHIFT" (ionChange)="restItem()">
      <ion-segment-button [value]="item.name" *ngFor="let item of SHIFTS" text-capitalize>
        {{item.name}}
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-grid>
    <ion-row *ngIf="totalAmount">
      <ion-col>
        <ion-card class="s-card">
          <ion-card-content>
            <ion-card-title>
              Total: {{totalAmount | number}}
            </ion-card-title>
            <div text-right>
              <button ion-button outline item-end icon-start small (click)="clearAllOrders()">
                <ion-icon name="trash"></ion-icon>
                Clear All
              </button>
              <button ion-button item-end icon-start small (click)="checkoutOrder()">
                <ion-icon name="done-all"></ion-icon>
                Done
              </button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4 *ngFor="let item of ITEMS_LIST[CURRUNT_SHIFT]">
        <ion-icon class="s-badge-clear" *ngIf="item.qty" (click)="clearOrder(item)" name="close-circle"></ion-icon>
        <ion-card class="s-card" (click)="addNewOrder(item)" (press)="longPressEvent(item)">
          <ion-badge class="s-badge" *ngIf="item.qty">{{item.qty}}</ion-badge>
          <ion-card-content class="s-content">
            <img [src]="item.img" [alt]="item.name">
            <div class="s-price" text-center>{{item.price}}</div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
