page-home {
  * {
    position: relative;
  }

  ;

  .s-card {
    position: relative;
    overflow: visible;
    margin: 0.5rem;
    width: calc(100% - 1rem);

    .s-badge {
      position: absolute;
      top: -1rem;
      right: -1rem;
      font-size: 2rem;
      border-radius: 2rem;
      z-index: 9;
    }

    .s-content {
      padding: 0.5rem;

      .s-price {
        font-size: 1.75rem;
      }
    }
  }

  .s-badge-clear {
    position: absolute;
    color: red;
    bottom: 0;
    left: 0;
    font-size: 3.5rem;
    z-index: 9;
  }
}
